@import "tailwindcss";

@theme {
  --color-main: #14151b;
}

@font-face {
  font-family: MainFont;
  src: url("/src/assets/fonts/HRSD-Bold.ttf");
}
:root {
  font-family: MainFont;
  background-color: #14151b;
  color: #fff;
  font-size: x-large;
}
